:root {
  /*основные шрифты*/
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  /*светлая тема текста*/
  --accent-txt-cl: #ffffff;
  --primary-txt-cl: #757575;
  --footer-txt-cl: rgba(255, 255, 255, 0.6);

  /*темная тема текста*/
  --title-txt-cl: #212121;
  --secondary-txt-cl: #2196f3;

  /*темная тема фона*/
  --main-bg-cl: #2f303a;
  --section-bg-cl: #f5f4fa;
}

/*доп шрифт*/
/*font-family: 'Quintessential', cursive;*/

.body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--accent-txt-cl);

  color: var(--primary-txt-cl);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
p {
  margin-bottom: 0;
}

/*сброс списков*/
.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.section {
  padding: 94px 215px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}

/*текст кнопка главная*/
.hero-btn {
  padding: 8px 30px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--accent-txt-cl);
}

.header-logo {
  margin-right: 93px;

  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--secondary-txt-cl);
}

/*верхний логотип черный цвет*/
.header-logo-accent {
  letter-spacing: 0.03em;

  color: var(--title-txt-cl);
}
.main-nav {
  display: flex;
}

.nav-item {
  margin-right: 50px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-list {
  display: flex;
}

/*Header*/
.nav-link {
  padding: 32px 0px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-txt-cl);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--secondary-txt-cl);
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-item:first-child {
  margin-right: 50px;
}
.contact-item .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-txt-cl);
}

.contact-item :hover,
.contact-item :focus {
  color: var(--secondary-txt-cl);
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-right: 452px;
  padding-left: 452px;

  background-color: var(--main-bg-cl);
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--accent-txt-cl);
}
.hero-btn {
  margin-left: auto;
  margin-right: auto;

  background-color: var(--secondary-txt-cl);
}

.benefits-list {
  display: flex;
}
.benefits-item {
  flex-basis: calc(100% / 4);
  margin-right: 30px;
}
.benefits-item:last-child {
  margin-right: 0px;
}

.benefits-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-txt-cl);
}
.benefits-descr {
  font-weight: 400;
  font-size: 14px;

  line-height: 1.71;
}

.about-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-txt-cl);
}

.about-list {
  display: flex;
}
.about-item {
  margin-right: 30px;
}
.about-item:last-child {
  margin-right: 0px;
}

.team {
  background-color: var(--section-bg-cl);
}
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-txt-cl);
}
.team-list {
  display: flex;
}
.team-item {
  margin-right: 30px;
}
.team-item:last-child {
  margin-right: 0px;
}
.team-pic {
  margin-bottom: 30px;
}
.team-wrapper {
  background-color: var(--accent-txt-cl);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.name-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-txt-cl);
}

.team-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
}

/*футер*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--main-bg-cl);
}
.container-logo {
  margin-bottom: 20px;
}
.footer-logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--secondary-txt-cl);
}

/*замена цвета лого*/
.footer-logo-accent {
  color: var(--accent-txt-cl);
}

.address-item {
  margin-bottom: 9px;
}
.address-item:last-child {
  margin-bottom: 0px;
}
.address-item .address-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--accent-txt-cl);
}

.address-link-contact {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--footer-txt-cl);
}

/*раздел работ*/
.work-wrapper {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 56px;
}

/*кнопки фильтр*/
.work-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.work-item-btn:not(:last-child) {
  /* display: flex;
  align-items: center;*/
  /*margin-left: 8px;*/
  margin-right: 8px;
}

.work-btn {
  border-color: var(--section-bg-cl);
  border-radius: 4px;

  font-family: var(--main-font);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-txt-cl);
}

/*фокус-ховер кнопки фильтр*/
.work-btn:hover,
.work-btn:focus {
  background-color: var(--secondary-txt-cl);
  color: var(--accent-txt-cl);
}

.pointer {
  cursor: pointer;
}
.work-list-pic {
  display: flex;
  flex-wrap: wrap;
}
/*.work-item-pic {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-right: 30px;
}*/

/*цвет заголовков портфолио*/
.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--title-txt-cl);
}
/*описание работ*/
.work-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
/*скрываем удаленный заголовок*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
